<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p><br>
            </div>
            <p></p>
            <ul class="actions">
                <li><a href="#one" class="button next scrolly">Записаться на митап</a></li>
                <p></p>
                <li><a href="http://data.cryptoecon.ru" class="button next">Перейти в Базу Данных</a></li>
            </ul>
            <br><br>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>Куда я попал?</h2>
                </header>
                <p>{{ content }}</p>
                <header class="major">
                    <h2>Регистрация на митап</h2>
                </header>
                <ul class="actions">
                    <li><a href="https://cryptoecon.timepad.ru/event/1013921/" class="button special next">Записаться на митап (#5): zk-SNARKs, 19 июля 2019</a></li>
                </ul> 
                <header class="major">
                    <h2>База Знаний Криптоэкономики</h2>
                </header>
                <ul class="actions">
                        <li><a href="http://data.cryptoecon.ru" class="button special next">
                            <i class="fa fa-database fa-lg" style="color:blue"></i>
                            Перейти</a></li>
                </ul>
                <header class="major">
                    <h2>Сообщество</h2>
                </header>
                <ul class="actions">
                        <li><a href="https://t.me/joinchat/ALqCZBUb_0aIRvYUqvfLYg" class="button special next">
                            <svg height="24px" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="telegram-plane" class="fa-telegram-plane" style="vertical-align: -15%;" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#0088cc" d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z"></path></svg>
                            <!-- <i class="fab fa-telegram-plane fa-lg"></i> -->
                            Telegram: Подключайтесь к обсуждению</a></li>
                </ul>
                <ul class="actions">
                        <li><a href="https://www.facebook.com/Cryptoeconomics-Research-Group-1063903453803666" class="button special next">
                            <i class="fab fa-facebook fa-lg"></i>
                            Facebook: Будьте в курсе</a></li>
                </ul>
                <header class="major">
                    <h2>Записи предыдущих митапов</h2>
                </header>
                <ul class="actions">
                        <li><a href="https://www.youtube.com/channel/UCqhBUKIpg_db0Qvj-8UutDw" class="button special next">
                            <i class="fa fa-youtube-play fa-lg" style="color:red"></i>
                            YouTube</a></li>
                </ul>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>


