<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %} 
    
    
    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
	<div class="inner">
	  <header class="major">
	    <h1>Партнёры</h1>
    </header>
    
<img src="https://ucare.timepad.ru/ded99a3b-73ce-46ee-b1fd-6efa50175634/-/preview/" width="150">
<img src="https://ucare.timepad.ru/7a792217-180f-4436-aeb3-9a0be2548665/-/preview/" width="150">
<img src="https://www.ranepa.ru/images/logo.png" width="150">


	  <header class="major">
	    <h1>Спонсоры</h1>
    </header>
    <table border="0">
        <tr>
            <td><a href="http://authpaper.io"><img src="../assets/images/authpaper.png"></a></td>
            <td><a href="http://crowdsale.isina.com"><img src="../assets/images/isina.png"></a></td>
            <td><a href="http://maxcrowdfund.com"><img src="../assets/images/max-property.png"></a></td>
            <td><a href="http://okschain.com"><img src="../assets/images/okschain.png"></a></td>
        </tr>
        <tr></tr>
        <tr>
            <td><a href="http://tokenplace.com"><img src="../assets/images/token-place.png"></a></td>
            <td><a href="http://volentix.io"><img src="../assets/images/Volentix.png"></a></td>
            <td><a href="http://younited.io"><img src="../assets/images/YOUnited.png"></a></td>
            <td></td>
        </tr>
        </table>
    

	</div>
      </section>

    </div>

    {% include footer.html %}

  </body>

</html>
