<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %} 
    
    
    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
	<div class="inner">
	  <header class="major">
	    <h1>Партнёры</h1>
    </header>
    
<img src="https://ucare.timepad.ru/ded99a3b-73ce-46ee-b1fd-6efa50175634/-/preview/" width="150">
<img src="https://ucare.timepad.ru/7a792217-180f-4436-aeb3-9a0be2548665/-/preview/" width="150">
<img src="https://www.ranepa.ru/images/logo.png" width="150">


	  <header class="major">
	    <h1>Спонсоры</h1>
    </header>
    <table border="0">
      <tr>
        <td><a href=""><img src=""></a></td>
        <td><a href=""><img src=""></a></td>
        <td><a href=""><img src=""></a></td>
        <td><a href=""><img src=""></a></td>
      </tr>
      <tr>
        <td><a href=""><img src=""></a></td>
        <td><a href=""><img src=""></a></td>
        <td><a href=""><img src=""></a></td>
        <td><a href=""><img src=""></a></td>
      </tr>
    </table>
    

	</div>
      </section>

    </div>

    {% include footer.html %}

  </body>

</html>
